# Don't track content of these folders
Output/
TrainedModels/
__pycache__/
**/__pycache__/*
.idea
singan_env
*.ipynb
Input/Images/*
test.py
*.sh
sifid_images/
monai_wholebody_ct/*
sharpened_imgs/*
sharpened_imgs_no_tz/*
temp/*
user\ study/*
neurips_images/*
*.npy
*/*.nii.gz
*/*.png
*.png